
<div class = "textArea">    
    <h1 class = "jumbotron">Verge Tech News</h1>
    <h2>read an article, make a note</h2>
    <div class = "container">
        <div class = "row">
            <div class = "col-lg-6">
                <ul>
                    {{#each articles}}
                        <li>{{title}}
                        <a href = "{{link}}">article link</a> 
                        <button id="{{_id}}" type="button" class="noteButton btn btn-dark">Note
                            {{> notes this}}
                        </button>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>